@use '/src/styles/constants/colors';
@use '/src/styles/mixins/container';

.title {
  @include container.dataTitle;
  font-weight: 900;
}

.cardsContainer {
  @include container.dataContainer;
  height: auto;
  background-color: colors.$BG_WHITE;

  .cardsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;

    .dropdownBox {
      width: 135px;
    }
  }
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -8px 8px;
}
