$PRIMARY: #586cf5;
$SECONDARY_01: #e5f4fd;
$SECONDARY_02: #ea3a4b;

$BG_G: #f6f7f8;
$BG_ACTIVE: #edeff1;
$BG_WHITE: #f8f8f8;

$TEXT_PRIMARY: #3a474e;
$TEXT_SECONDARY: #94a2ad;
$TEXT_WHITE: #f8f8f8;

$GRAPH_01: #4fadf7;
$GRAPH_02: #85da47;
$GRAPH_03: #ac8af8;

$ARROW_INCREASE: #ea3a4b;
$ARROW_DECREASE: #85da47;

$CALENDER_RANGE_BG: #edeff1;
$CALENDER_RANGE_TEXT: #3a474e;

$BORDER: #d1d8dc;
$BORDER_TABLE: #edeff1;

$SHADOW: rgba(0, 0, 0, 4%);
$SHADOW_DROPDOWN: rgba(41, 50, 55, 15%);
