@use '/src/styles/constants/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  line-height: 100%;

  li {
    position: relative;
    cursor: pointer;
  }

  sup {
    position: absolute;
    bottom: 22px;
    left: 18px;
    width: 6px;
    height: 6px;
    background: colors.$ARROW_INCREASE;
    border-radius: 50%;
  }

  li + li {
    margin-left: 30px;
  }

  li:last-of-type {
    margin-left: 10px;
  }
}
