@use '/src/styles/constants/colors';
@use '/src/styles/mixins/container';

.title {
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 20px;

  h1 {
    font-size: 26px;
    font-weight: 900;
  }
}

.subTitle {
  @include container.dataSubTitle;
}

.totalAds {
  @include container.dataContainer;

  .dataCards {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    row-gap: 20px;
    column-gap: 22px;
    align-items: center;
    overflow: scroll;
  }
}

.mediaStatus {
  @include container.dataContainer;
}
