.dropdownContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 40px;

  .filterDropdown {
    display: flex;

    div {
      margin-right: 10px;
    }
  }
}
